
<div class="area-breadcrumb">
  <ul class="breadcrumb">
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="" itemprop="url"><span itemprop="title">TOP</span></a></li>
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="" itemprop="url"><span itemprop="title">教材一覧</span></a></li>
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="" itemprop="url"><span itemprop="title">初任者研修講座</span></a></li>
    <li class="current" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a class="current" href="" itemprop="url"><span itemprop="title">アンケート</span></a></li>
  </ul>
</div>
<h1 class="headChecksheet"><span>アンケート</span></h1>
<main class="wrap-checksheet">
  <section>
    <div class="heading-border heading-border-irregular">
      <p class="bold">初任者研修講座に関するアンケート</p>
    </div>
    <ol class="area-question">
      <li>
        <dl>
          <dt class="question irregular">
            <p class="number">Q1</p>
            <p class="first-half">この研修講座で、一番印象に残っていることを書いてください。</p>
          </dt>
          <dd class="answer">
            <textarea class="textbox"></textarea>
          </dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt class="question">
            <p class="number">Q2</p>
            <p class="first-half">この研修講座は、あなた自身にとって、「何を学ぶことができましたか」、<br>
            「どういう意義がありましたか」、また、「今後の教育活動にどのように生かしますか」。<br>
            それぞれの研修について振り返りながら、自由に書いてください。</p>
          </dt>
          <dd class="answer">
            <textarea class="textbox"></textarea>
          </dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt class="question">
            <p class="number">Q3</p>
            <p class="first-half">この研修講座にかかわって、さらにこんな研修をしてみたいなと思うことがあれば、書いてください。<br>
            (講座の感想や願望ではなく、前向きな提案です)</p>
          </dt>
          <dd class="answer">
            <textarea class="textbox"></textarea>
          </dd>
        </dl>
      </li>
    </ol>
  </section>
</main>
<div class="end">
  <div class="box">
    <div class="btn"><a href="/top">確認する</a></div>
  </div>
</div>
