<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @category_type.title %>
</p>

<%= link_to 'Edit', edit_category_type_path(@category_type) %> |
<%= link_to 'Back', category_types_path %>
