<!DOCTYPE html>
<html>
<head>
  <title>Shinonome</title>
  <%= stylesheet_link_tag    'admin/application', media: 'all', data-turbolinks-track: 'reload' %>
  <%= javascript_include_tag 'admin/application', data-turbolinks-track: 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
