<div class="footerIn">
  <p class="lg-footer"><%= image_tag "lgFooter.png", alt: "教員研修 e-learning SYSTEM" %></p>
</div>
<p class="copyright">Copyright&copy; Nara Prefectural Institute for Educational Research All Rights Reserved.</p>
